<div class="jumbotron">
    <h1>Easy Print</h1>
    {{#if user.displayName}}
        <p>Hi {{user.displayName}}</p>

        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1074931799203263',
                    xfbml: true,
                    version: 'v2.3'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            window.onload = function () {


                var sendFacebookRequest = function (path) {
                    var token = "{{token}}";
                    FB.api(
                            path,
                            'get',
                            {
                                access_token: token,
                                additional_parameter_foo: 'bar'
                            }, function (result) {
                                result.data.forEach(function (image) {
                                    $("#columns").append(' <div class="pin"> <img src="' + image.images[1].source + '"/><div>')
                                });
                                $(".pin").bind('click', function (elem) {
                                    console.log(elem);
                                    if (!$(elem.currentTarget.children[0]).hasClass('active')){
                                        $(elem.currentTarget.children[0]).css('box-shadow', 'rgb(224, 109, 118) 0px 0px 9px 0px ');
                                        $(elem.currentTarget.children[0]).addClass('active')
                                    }

                                    else
                                    {
                                        $(elem.currentTarget.children[0]).removeClass('active')
                                        $(elem.currentTarget.children[0]).css('box-shadow', '0 1px 2px rgba(34, 25, 25, 0.4)')
                                    }
                                })

                            }
                    );
                }
                sendFacebookRequest("me/photos/uploaded");


            }

        </script>
    {{/if}}
</div>
<div class="row">
    <div id="wrapper">
        <div id="columns">

        </div>
    </div>
</div>
{{#unless user.displayName}}
    <div id="myModal" class="modal  bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">Schnell Anmelden damit du schnell deine tollen Bilder
                        drucken kannst<a class="anchorjs-link"
                                         href="#mySmallModalLabel"><span
                                class="anchorjs-icon"></span></a></h4>
                </div>
                <div class="modal-body">
                    <a href="/auth/facebook"><img src="images/fb-btn.png"></a>
                </div>

            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            $('#myModal').modal({
                show: true
            })
        }


    </script>
{{/unless}}