<div style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;  color: #073163 ; width: 50%; ">
    <h3>Dermokosmetik</h3>
    <span style="white-space: pre-line;">
        Immer mehr Menschen erwarten von einem hochwertigen Pflegeprodukt, dass es die Haut gesund erhält und vor Umwelteinflüssen schützt.
        Dermokosmetische Produkt die Antwort darauf. Sie werden neben der täglichen Pflege oft therapiebegleitend sowie zur Vorbeugung von Hauterkrankungen eingesetzt.
        Der Begriff Dermokosmetik bezeichnet ein Pflegekonzept, das gezielt auf die Haut abgestimmt ist.
        Dermokosmetika müssen bestimmte Vorgaben hinsichtlich Qualität und Dokumentation erfüllen, was von anderen Kosmetikprodukten so nicht erwartet wird.
        Das Ziel ist die langfristige Stabilisierung Ihrer Hautbarriere.
        Die Haut soll länger jünger und frischer aussehen.
        Die hochwertigen Produkte werden ohne Mineralöle, Emulgatoren, Parfüme und chemische Konservierungsstoffe hergestellt.
        Sie enthalten hingegen gezielt Wirkstoffe, die in der natürlichen Hautbarriere enthalten sind (wie Linolsäure, Moisturizer, Ceramide, Cholesterin, Vitaminen, Palmitinsäure, Hyaluronsäure? ...).


    </span>

    <h3>Dermaviduals</h3>
        <h3 style="white-space: pre-line;">
        Der Name dermaviduals steht für Präparate, die einerseits die Prävention der Problemhaut unterstützen und andererseits in der Lage sind, eine bereits bestehende Problemhaut zu pflegen und ihren Zustand grundlegend zu verbessern.
        Dermaviduals sind ebenso für die Pflege der normalen und jungen Haut bestens geeignet.Sie dienen ganz besonders der Erhaltung der natürlichen Haut-Schutzbarriere und verhindern eine vorzeitige Hautalterung. Dermaviduals enthalten keine Emulgatoren, Konservierungsstoffe, Parfümstoffe, Mineralöle, Silikone, Farbstoffe und Amine. Tensidhaltige Reinigungsmittel sind gekennzeichnet. dermaviduals mit DMS (Derma Membran Struktur) gleichen chemisch und physikalisch der Membran-Struktur der natürlichen Hautbarriere und entsprechen damit den Prinzipien der Korneotherapie, d. h. den physiologischen Anforderungen zur Gesunderhaltung der Haut.


    </h3>

    <h3>Syndet</h3>
    <span style="white-space: pre-line;">
        Der Begriff Syndet setzt sich zusammen aus "synthetische Detergentien" und bezeichnet waschaktive Substanzen.
        Durch den Begriff soll eine Abgrenzung zu Seifen erzielt werden, denen eine allergiebegünstigende Wirkung und schlechte Hautverträglichkeit zugeschrieben wird.
        Für Syndet als Alternative zu den handelsüblichen Seifenstücken wird hingegen eine besondere Hautschonung und Eignung für Allergiker geltend gemacht.


    </span>

    <h3>PSA</h3>
    <span style="white-space: pre-line;">
        PSA ist die Abkürzung für "Persönliche Schutzausrüstung" muss bei allen Arbeiten und Tätigkeiten verwendet werden, die aufgrund ihrer Art Verletzungen oder Gesundheitsbeeinträchtigungen hervorrufen könnten und die durch andere Maßnahmen (technisch oder organisatorisch) nicht verhindert werden können.
        Eine Unterteilung der PSA kann in verschiedene Kategorien erfolgen. Diese zeigen die Gefährdung auf, vor der die PSA schützen soll: Die Unterscheidung erfolgt aufgrund des zu erwartenden Schadensausmaßes (Verletzungsschwere): Dabei kann das Spektrum des Schadensausmaßes breit gestreut sein.
        Die Systematik konzentriert sich auf vier Gruppen:
        <ol>
            <li>leichte Verletzung, nicht meldepflichtig, »krankheitsbedingter Ausfall kleiner 3 Tage</li>
            <li>leichte Verletzung, meldepflichtiger Unfall, »krankheitsbedingter Ausfall größer 3 Tage</li>
            <li>mittelschwere bis schwere irreversible Verletzung einer oder mehrerer Personen, »Arbeits- / Gewerbeunfähigkeit</li>
            <li>Tod einer oder mehrerer Personen</li>
        </ol>


    </span>

</div>

